<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gdufs.shop.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.gdufs.shop.entity.Order">
        <id column="id" property="id"/>
        <result column="buyer_id" property="buyerId"/>
        <result column="seller" property="seller"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

</mapper>
